@tailwind base;
@tailwind components;
@tailwind utilities;


.rz_customBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rz_customBtn .rz_link {
    margin-right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.rz_customBtn .rz_link:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}