@tailwind base;
@tailwind components;
@tailwind utilities;


.rz_customBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rz_customBtn .rz_link {
    margin-right: 20px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.rz_customBtn .rz_link:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}
.responsive-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 16px;
}

@media (min-width: 768px) {
  .responsive-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .responsive-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
